<a href="https://colab.research.google.com/github/Soujanya1799/M.Tech_AI_week1/blob/main/soujanya_M_Tech_in_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Week 1 Day 1**
# Initializing variable

In [ ]:
#99flag=4
#print(99flag)# error because of the number starting
#text=3#global=5
#print(global) # error because of the keyword used
#print(text)
an$wer=7
print(an$wer) # error because of the $

SyntaxError: ignored

In [ ]:
from IPython.utils.text import num_ini_spaces
a=2 #variable value is given
b=2.2
c=23+8j
print(a) #printed the value of a
print(b) #print the value of b
print(a+ int(b)) # print the addition of a and b
x=int(float(a)-b) #print and value given to the new variable x
print(x) #print x
print (c)
print (type(a)) #type to find the datatype of a
print(type(c))#type to find the datatype of c 
print(type(b))#type to find the datatype of b 
print("soujanya")#printing the text vignesh
soujanya=a+int(b)
print(soujanya)#printing the text vignesh
d=input() #taking input from the user
e=int(input())
print(d)
print(e) 
print(int(d)+e)

2
2.2
4
0
(23+8j)
<class 'int'>
<class 'complex'>
<class 'float'>
soujanya
4
7
8
7
8
15

In [ ]:
t=float(input("value of t "))#taking value for variable
print(t)
print("%.3f"%t)#this command will make value after desimal only 3 numbers which also be as n

value of t 9
9.0
9.000

In [ ]:
x=int(input("value of x "))#taking value for variable
y=int(input("value of y "))#taking value for variable
z=int(input("value of z "))#taking value for variable
print((x+y+z)/3)

value of x 8
value of y 9
value of z 7
8.0

In [ ]:
a=int(input("value of a "))#taking value for variable
b=int(input("value of b "))#taking value for variable
print((a+b)/100)
if a > b: #conduction for a>b first statment is printed else second is printed
 print((b/a)*100)
else:
 print((a/b)*100)

value of a 10
value of b 20
0.3
50.0

In [ ]:
mystring= hello #giving values for variable
myfloat= 2.5 #giving values for variable
myint=10 #giving values for variable
print(mystring)#printing the variable
print(myfloat)#printing the variable
print(myint)#printing the variable


a=input("value of a")#taking value for variable
b=input("value of b")#taking value for variable
if a>b:#comparing value of a,b and check weather a is greater than b
 print(b%a)
else:
 print(a%b)

NameError: ignored

In [ ]:
# Performing arithmatic oprations

a=int(input()) # taking input from the user
b=int(input()) # taking input from the user
print(a+b) # performing operation and printing
print(a-b) # performing operation and printing
print(a*b) # performing operation and printing
print(a/b) # performing operation and printing
print(a%b) # performing operation and printing

3
5
8
-2
15
0.6
3

In [ ]:
# Performing logical operations

a=10 # initializing value
b=4 # initializing value
print(a&b)# performing operation and printing
print(a|b)# performing operation and printing
print(a^b)# performing operation and printing
print(a<<2)# performing operation and printing
print(a>>2)# performing operation and printing

0
14
14
40
2

# Break statement

In [ ]:
n=10 # initialing the value 
for i in range(1,n+1): # for loop to the given value range
  if(i==6): # if statement to satisfy the condition
    break # break the loop if the condition is satisfied
  print(i,end=" ")  # print the output

1 2 3 4 5

In [ ]:
n=10 # initialing the value 
for i in range(1,n+1): # for loop to the given value range
  if(i==6): # if statement to satisfy the condition
    break # break the loop if the condition is satisfied
  print(i,end=" ")  # print the output

enter the value of n= 4
5
10
15
20

# Continue statement

In [ ]:
# Performimg continue statement

n=0 # initialing the value
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [ ]:
# To print multiples of 5

n=int(input("enter the value of n= ")) # taking the value from the user
for i in range(1,n+1): # for loop to the given value range
  print(i*5) #print the multiples of 5

enter the value of n= 20
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [ ]:
# To print even multiples of 5

n=int(input("enter the value of n= ")) # taking the value from the user
for i in range(1,n+1):  # for loop to the given value range
  i*=5 # value of i should be eual to multilples of 5
  if i%2==0: # if statement for i should be even
    print(i) # print the output i

enter the value of n= 10
10
20
30
40
50

In [ ]:
# to print even numbers

n=int(input("enter the value of n= ")) # taking the value from the user
for i in range(1,n+1): # for loop to the given value range
  if i%2==0: # if statement for i should be even
    print(i) # print the output i

enter the value of n= 10
2
4
6
8
10

In [ ]:
# To print odd numbers

n=int(input("enter the value of n= ")) # taking the value from the user
for i in range(1,n+1): # for loop to the given value range
  if i%2!=0: # if statement for i should be odd
    print(i) # print the output i

enter the value of n= 10
1
3
5
7
9

In [ ]:
# To print odd multiples of 5

n=int(input("enter the value of n= ")) # taking the value from the user
for i in range(1,n+1): # for loop to the given value range
  i*=5 # i is eual to multiples of 5
  if i%2!=0: # if statement for i should be odd
    print(i)  # print the output i

enter the value of n= 10
5
15
25
35
45

In [ ]:
# To find the average of 3 numbres

x=int(input("value of x "))#taking value for variable
y=int(input("value of y "))#taking value for variable
z=int(input("value of z "))#taking value for variable
print((x+y+z)//3)

value of x 7
value of y 8
value of z 9
8

In [ ]:
# To perform addition and subtraction of given 2 numbers

x=int(input("value of x "))#taking value for variable
y=int(input("value of y "))#taking value for variable
print(x+y,'\n',x-y)

value of x 5
value of y 6
11
 -1

In [ ]:
# To swap given 2 numbers

a=int(input("value of a "))#taking value for variable
b=int(input("value of b "))#taking value for variable
x=a
y=b
b=a
a=y
print(a)
print(b)2

value of a 7
value of b 4
4
7

# **Day3** **String**

In [ ]:
# To print an index value of given string 

a="RACE" # giving value to variable
print(a[1])

A

In [ ]:
# To print even index values from th given string

a="helloworld"  # giving value to variable
for i in range(len(a)): # for loop to the given string lenght 
  if i%2==0: # if statement for i should be even
    print(a[i])

h
l
o
o
l

In [ ]:
# To print even and odd index of a given string

a=input() # taking the value from the user
odd="" # defining a variable odd
even="" # defining a variable even
for i in range(0,len(a)): # for loop to the given string lenght 
  if(i%2==0): # if statement for i should be even
    even=even+a[i] # increment to the next even index
  else: 
    odd=odd+a[i] # increment to the next odd index
print("Even index char.:",even)
print("Odd index char.",odd)

RACE
Even index char.: RC
Odd index char. AE

In [ ]:
# To print an index value of given string

a="Soujanya" # giving value to the variable
print(a[-1])

a

# Slicing in Strings

In [ ]:
# slicing last 2 index from the given string

a="hello world" # giving value to variable
print(a[:2])

he

In [ ]:
# To print the even and odd index from the given string

a=input() # taking input from the user
print(a[0:len(a):2]) 
print(a[1:len(a):2])

soujanya
suay
ojna

In [ ]:
# Slicing the first 2 index from the given string 

a="soujanya"  # giving value to variable
print(a[2:])

ujanya

In [ ]:
# slicing last 2 index from the given string

a="hello world" # giving value to variable
print(a[:-2])

hello wor

In [ ]:
# To print only last 2 index from the given string

a="hello world" # giving value to variable
print(a[-2:])

ld

In [ ]:
# to print sliced string 

a="hello world" # giving value to variable
print(a[1:-3])

ello wo

In [ ]:
# To reverse given string using slicing method

a="hello world" # giving value to variable
for i in range(len(a)-1,-1,-1):
    print(a[i],end="")

dlrow olleh

In [ ]:
# To reverse given string using slicing method

a="hello world" # giving value to variable
for i in range(len(a)-1,-1,-1):
    print(a[i],end="")

soujanya
aynajuos

In [ ]:
 # slicing the given string

str="hello world" # giving value to variable
print(str[::-2])
print(str[::2])
print(str[2::])
print(str[-2::])
print(str[::-4])
print(str[0:11:2])

drwolh
hlowrd
llo world
ld
dwl
hlowrd

# **week 2** 
# Day 1

# List

In [ ]:
# Creating a list

num=[1,2,3,4]
print(num)

[1, 2, 3, 4]

In [ ]:
# Replacing data in list

mix=[1,12.5,'a',"python"]
mix[1]=8.5
print(mix)

[1, 8.5, 'a', 'python']

# List within list - 2 lists

In [ ]:
x=[[1,2],['a','b']]
print(x)

[[1, 2], ['a', 'b']]

In [ ]:
x=[[1,2],['a','d']]
print(x[0])
print(x[1])
print(x[0][1])
print(x[1][1])

[1, 2]
['a', 'd']
2
d

In [ ]:
a=[0]*5
print(a)
print([a])

[0, 0, 0, 0, 0]
[[0, 0, 0, 0, 0]]

In [ ]:
letter=['a','b','c','d']
stg=['python','list']
conc=letter+stg
print(conc)

['a', 'b', 'c', 'd', 'python', 'list']

# **week 2- day 1**

In [ ]:
# exercis 1

for i in range(13,100,13):
  print(i, end=" ")

13 26 39 52 65 78 91

In [ ]:
a=int(input("enter the number"))
for i in range(1,11,1):
  b=a*i
  print (a,'*',i,'=',b)

enter the number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
#printing two strings by using for and if statements

fruit="banana"
for letter in fruit:
  print(letter,end=" ")
  if letter=="n":
    fruit="orange"
print(fruit,"\n")

b a n a n a orange

In [ ]:
# Triple nested loop
for i in range(3):
  for j in range(3):
     for k in range(3):
       print("({},{},{})".format(i,j,k))

(0,0,0)
(0,0,1)
(0,0,2)
(0,1,0)
(0,1,1)
(0,1,2)
(0,2,0)
(0,2,1)
(0,2,2)
(1,0,0)
(1,0,1)
(1,0,2)
(1,1,0)
(1,1,1)
(1,1,2)
(1,2,0)
(1,2,1)
(1,2,2)
(2,0,0)
(2,0,1)
(2,0,2)
(2,1,0)
(2,1,1)
(2,1,2)
(2,2,0)
(2,2,1)
(2,2,2)

# List Methods

In [ ]:
fruits = ['apple', 'banana', 'cherry']

# append()

fruits.append("orange")
print(fruits)

# copy()

x = fruits.copy()
print(x)

# count()

x1 = fruits.count("cherry")
print(x1)

# insert()

fruits.insert(1, "watermelon")
print(fruits)

# reverse()

fruits.reverse()
print(fruits)

# remove()

fruits.remove("banana")
print(fruits)

# sort()

fruits.sort()
print(fruits)

# pop()

fruits.pop(3)
print(fruits)

# extend()

vegetables=["tomato","cucumber"]
fruits.extend(vegetables)
print(fruits)

# index()

x = fruits.index("cherry")
print(x)

# clear()

fruits.clear()
print(fruits)

['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'orange']
1
['apple', 'watermelon', 'banana', 'cherry', 'orange']
['orange', 'cherry', 'banana', 'watermelon', 'apple']
['orange', 'cherry', 'watermelon', 'apple']
['apple', 'cherry', 'orange', 'watermelon']
['apple', 'cherry', 'orange']
['apple', 'cherry', 'orange', 'tomato', 'cucumber']
1
[]

# Day 2 - Function

In [ ]:
a=int(input("enter a value :  "))
b=int(input("enter b value :  "))
c=a+b
print(c)

enter a value :  5
enter b value :  10
15

In [ ]:
def add(a,b):
  c=a+b
  return c
a=int(input("enter a value :  "))
b=int(input("enter b value :  "))
print(add(a,b))

enter a value :  500
enter b value :  400
900

In [ ]:
from re import A
def swap():
  a=int(input())
  b=int(input())
  a,b=b,a
  print("After swapping")
  print(a,b)
  
swap()

7
9
After swapping
9 7

In [ ]:
a=int(input("enter a value"))
fact=1
for i in range(1,a+1):
  fact*=i
print(fact)

enter a value5
120

In [ ]:
n=int(input())
fact=1
for i in range(5,0,-1):
  fact=fact*i
  print(i,end=" ")
print(fact)

5
5 4 3 2 1 120

In [ ]:
def fact1(n):
  fact=1
  for i in range(1,n+1):
    fact=fact*i
    print(i,end=" ")
  return fact
print(fact1(int(input())))

5
1 2 3 4 5 120

In [ ]:
sum=lambda n1,n2:n1+n2
x=int(input("Enter the number: "))
y=int(input("Enter the number: "))
print(sum(x,y))

Enter the number: 5
Enter the number: 7
12

In [ ]:
total=0; # global variable
def sum(arg1,arg2):
  total=arg1+arg2; # local variable
  print("Inside the function local total: ", total)
  return total;
sum(10,20);
print("Outside the function global total: ", total)

Inside the function local total:  30
Outside the function global total:  0

In [ ]:
n=10
sum=0
for i in range(0,n+1):
  sum+=i
print(sum)

55

In [ ]:
def recur_sum(n):
  if n<=1:
    return n
  else:
    return n+recur_sum(n-1)
num=int(input())
if num<0:
  print("Enter a positive number")
else:
  print("thr sum is",recur_sum(sum))

8
thr sum is 1540

In [ ]:
num=[1,2,3]
print(num)
*a,b=num
print(a)
print(b)
b,*a=num
print(a)
print(b)

[1, 2, 3]
[1, 2]
3
[2, 3]
1

In [ ]:
def fact1(n):
  fact=1
  for i in range(1,n+1):
    fact=fact*i
    if i<=(n):
       print(+i,"*", end=" ")
       
  print("=",fact)  
  
  return fact
print(fact1(int(input())))

5
1 * 2 * 3 * 4 * 5 * = 120
120

# **Tuples**

In [ ]:
value_tuple=(26,45,'hello')
value_tuple.replace()
print(value_tuple)

AttributeError: ignored

In [ ]:
value_tuple=(26,45,'hello',7.5,'z',5,6.9)
del(value_tuple[1])
print(value_tuple)

TypeError: ignored

In [ ]:
value_tuple=(26,45,'hello',7.5,'z',5,6.9)
del(value_tuple)
print(value_tuple)

NameError: ignored

In [ ]:
Tuple=('hello')
n=3
for i in range(int(n)):
   Tuple=(Tuple,)
   print(Tuple)

('hello',)
(('hello',),)
((('hello',),),)

# Inbuilt functions

In [ ]:
a=(10,20,30,40,50)
print(a)
print(a[2])
print(a[2:])
print(a[2:4])
a=(10,20,30,40,50,60,70,80,90,100)
print(a[:4:3])
print(a[-6:-4:1])
print(a[-2])
print(a[:-1:4])

(10, 20, 30, 40, 50)
30
(30, 40, 50)
(30, 40)
(10, 40)
(50, 60)
90
(10, 50, 90)

In [ ]:
a=list((10,20,30,40,50,60,70,80,90,100))
print(a[0:1]+a[3:6]+a[-2:-1])
print(a[0:1]+a[3:6]+a[2:3]+a[-3:-1]+a[1:2]+a[-1:])

[10, 40, 50, 60, 90]
[10, 40, 50, 60, 30, 80, 90, 20, 100]

In [ ]:
a=(10,20,300,240,900,850,70,888,90,100)
print(len(a))
print(max(a))
print(min(a))
print(sum(a)//len(a))
print(any(a))

10
900
10
346
True

In [ ]:
b=(1,2,3,0)
print(any(b))
print(all(b))

True
False

In [ ]:
b=(1,)
print(any(b))
print(all(b))

True
True

In [ ]:
b=()
print(any(b))
print(all(b))

False
True

# Day 4

In [ ]:
tuple=("apple","byte","computer")
n=2
for i in range(n):
  print(tuple[1])
  break

byte

In [ ]:
tuple=("apple","byte","computer")
n=2
for i in range(n):
  print(tuple[i])
break

apple
byte

SyntaxError: ignored

In [ ]:
tuple=("apple","byte","computer")
n=1
if n==1:
  print (tuple[n])

byte

# Dictionary

In [ ]:
dic={1:"Monday",2:5,3:"Fridya",4:8.5,5.5:5}
print(dic)

{1: 'Monday', 2: 5, 3: 'Fridya', 4: 8.5, 5.5: 5}

In [ ]:
dic={1:"Monday",2:5,3:"Fridya",4:,5.5:5}
print(dic)

SyntaxError: ignored

In [ ]:
dic={1:"Monday",1:5,3:"Fridya",4:8.5,5.5:5}
print(dic)

{1: 5, 3: 'Fridya', 4: 8.5, 5.5: 5}

In [ ]:
dic={1:"Monday",2:5,3:"Fridya",4:8.5,5.5:5}
for i in dic:
  print(i)

1
2
3
4
5.5

In [ ]:
dic={1:"Monday",2:5,3:"Fridya",4:8.5,5.5:5}
for i in dic:
  print(dic[i])

Monday
5
Fridya
8.5
5

In [ ]:
dic={1:(2,4,5),"NAME":"PARAMESH",4:[5,7]}
print(dic)

{1: (2, 4, 5), 'NAME': 'PARAMESH', 4: [5, 7]}

In [ ]:
dic={dic1:{a:(1,2,3),b:"race"},dic2:{1:"soujanya"}}
print(dic)

NameError: ignored

In [ ]:
dic={1:"PARA",2:4,3:{5:"HELLO",6:9.5}}
print(dic[3][5])

HELLO

In [ ]:
dic={1:"PARA",2:4,3:{5:"HELLO",6:9.5}}
print(dic[3][5])

HELLO

In [ ]:
dic={1:"PARA",2:4,3:{5:"HELLO",6:9.5}}
print(dic[3][6])
dic[3][6]="soujanya"
print(dic[3][6])

9.5
soujanya

In [ ]:
dic={}
dic[0]="Apple"
dic[1]="work"
dic[3]="hard"
print(dic)
dic['new_set']=1,5,8
print(dic)
dic[0]="google"
print(dic)

{0: 'Apple', 1: 'work', 3: 'hard'}
{0: 'Apple', 1: 'work', 3: 'hard', 'new_set': (1, 5, 8)}
{0: 'google', 1: 'work', 3: 'hard', 'new_set': (1, 5, 8)}

# Set

In [ ]:
value_set={2,5.9,"python",'o'}
print(value_set)

{'python', 2, 5.9, 'o'}

In [ ]:
value_set={2,5.9,"python",'o'}
for i in value_set:
  print(value_set)
  break

{'python', 2, 5.9, 'o'}

In [ ]:
value_set={2,5.9,"python",'o'}
print(7 in value_set)

False

In [ ]:
d = {1: "a", 2: "b"}
d.clear()
print(d)

{}

In [ ]:
original = {1:'a', 2:'b'}
new = original.copy()
print(new)

{1: 'a', 2: 'b'}

In [ ]:
seq = {'a', 'b', 'c', 'd', 'e'}

res_dict = dict.fromkeys(seq)

print("The newly created dict with None values : " + str(res_dict))

res_dict2 = dict.fromkeys(seq, 1)

print("The newly created dict with 1 as value : " + str(res_dict2))

The newly created dict with None values : {'e': None, 'a': None, 'c': None, 'b': None, 'd': None}
The newly created dict with 1 as value : {'e': 1, 'a': 1, 'c': 1, 'b': 1, 'd': 1}

In [ ]:
d = {'c': 'g', 't': 'b'}
print(d.get('c'))

g

# **Week 3** - Day-1

In [ ]:
a,b,c,d,e=input().split(",")
print(a,b,c,d,e)

1,2,3,4,5
1 2 3 4 5

In [ ]:
a,b,c,d,e=input().split(",")
print(a,b,c,d,e)

s,b,3,5,6
s b 3 5 6

In [ ]:
a,b,c,d,e=input().split(",",2)
print(a,b,c,d,e)

1,2,3,4,5

ValueError: ignored

In [ ]:
# Giving value to the variables using split() and format() functions

a,b=input().split(",")
print(("a={}"  " and "  "b={}").format(a,b))
print(("a={}"  " and "  "b={}").format(b,a))

10,20
a=10 and b=20
a=20 and b=10

In [ ]:
a,b=input().split(",")
print(("a={1} and b={2}").format(a,b))
print(("a={2} and b={1}").format(a,b))

10,20

IndexError: ignored

In [ ]:
a,b=input().split(",")
print(("a={-1} and b={-2}").format(a,b))
print(("a={-2} and b={-1}").format(a,b))

10,20

KeyError: ignored

# List comprehension

In [ ]:
x,y=map(int,input().split())
print(x,y)

10 20
10 20

In [ ]:
x,y=[int(x) for x in input().split()]
print("First Number is:",x)
print("Second Number is",y)

10 20
First Number is: 10
Second Number is 20

In [ ]:
a,b=[int(x) for x in input().split()]
print(a,b)

10 20
10 20

In [ ]:
a=[int(x) for x in input().split()]
print(a)

10 20 30 40 50
[10, 20, 30, 40, 50]

In [ ]:
a=("A","B","A","C","D","B","E")
b=(str(x) for x in a.split)
print(b)

AttributeError: ignored

# File Handling

In [ ]:
f=open("/DEMOFILE.txt","r")
print(f.read())

Hai
Hello
I am fine
Welcome to RACE
THANK YOU
BY

# Day 2

In [ ]:
numbers=[3,5,45,97,32,22,10,19,39,43]
for i in numbers:
  if i%2==0:
    print(i)

32
22
10

In [ ]:
numbers=[3,5,45,97,32,22,10,19,39,43]
b=[]
for i in numbers:
  if i%2==0:
    b.append(i)
print(b)

[32, 22, 10]

In [ ]:
a=[3,5,45,97,32,22,10,19,39,43]
num=[x for x in a if x%2==0]
print(num)

[32, 22, 10]

In [ ]:
a=[3,5,45,97,32,22,10,19,39,43]
print([x for x in a if x%2==0])

[32, 22, 10]

# Using Loop and List Comprehension

In [ ]:
b=[]
for i in range(3,100):
  if '3' in str(i):
    b.append(i)
print(b)

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93]

In [ ]:
print([i for i in range(3,100) if '3' in str(i)])#newList = [ expression(element) for element in oldList if condition ]

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93]

In [ ]:
for i in input():
  if i not in ['a','e','i','o','u']:
    print(i)

soujanya
s
j
n
y

In [ ]:
print([i for i in input() if i not in ['a','e','i','o','u']])

soujanya
['s', 'j', 'n', 'y']

In [ ]:
print([i for i in str(input()) if i not in ('a','e','i','o','u',' ')])

hai hello
['h', 'h', 'l', 'l']

In [ ]:
f=open("/content/DEMOFILE.txt","r")
s=f.read()
count=0
for i in s.split():
  count+=1
  
print(count)

11

In [ ]:
f=open("/content/DEMOFILE.txt","r")
count=0
print([i for i in f.read().split() if count=count+1])

SyntaxError: ignored

In [ ]:
f=open("/content/DEMOFILE.txt","r")
for i in f.readlines():
   
   print(i)

Hai

Hello

I am fine

Welcome to RACE

THANK YOU

BY

In [ ]:
f=open("/content/DEMOFILE.txt","r")
count=0
for i in f.readlines():
   count+=1
   print(i)
print(count)

Hai

Hello

I am fine

Welcome to RACE

THANK YOU

BY
6

In [ ]:
f=open("/content/DEMOFILE.txt","r")
count=0
for i in f.readlines():
   count+=1

   print(count,i)

1 Hai

2 Hello

3 I am fine

4 Welcome to RACE

5 THANK YOU

6 BY

In [ ]:
f=open("/content/Demofile.txt.txt","r")
for i in f.readlines():
  if "to" in f:
    print(i)

FileNotFoundError: ignored

In [ ]:
f=open("/content/DEMOFILE.txt","r")
print([i for i in f.readlines() if 'to' in f])

FileNotFoundError: ignored

In [ ]:
with open("/content/DEMOFILE.txt", 'r+') as f:
    f.write("new line \n")

#  Day-4 Exception handling

In [ ]:
a=5
b=0
try:
  print(a/b)
except Exception as e:
  print('Divide by zero error... Try again...')
print("hello")

Divide by zero error... Try again...
hello

In [ ]:
a=5
b=5
try:
  print(a/b)
except Exception as e:
  print('Divide by zero error... Try again...')
print("hello")

1.0
hello

In [ ]:
a=5
b=5
try:
  print("Access open")
  print(a/b)
  print("Access close")
except Exception as e:
  print('Try again')
print("hello")

Access open
1.0
Access close
hello

In [ ]:
a=5
b=0
try:
  print("Access open")
  print(a/b)
  print("Access close")
except Exception as e:
  print('Try again')
print("hello")

Access open
Try again
hello

# Try Block

In [ ]:
a=[1,2,3]
try:
  print("second element =%d" %(a[1]))
  print("sixth element =%d" %(a[5]))
except ZeroDivisionError:
  print("Error....1")
  print("Array index out of bound")  
except IOError:
  print("error....3")
  print("Array index out of bound")
else :
  print("welcome")

second element =2

IndexError: ignored

In [ ]:
try:

    age=int(input("Enter the age?\n"))
    if age<18:
       raise ValueError;
    else:
         print("the age is valid")
except ValueError:
  print("The age is not valid")

Enter the age?
14
The age is not valid

In [ ]:
try:

    age=int(input("Enter the age?\n"))
    if age<18:
       raise ValueError;
else:
     print("the age is valid")
except ValueError:
  print("The age is not valid")

SyntaxError: ignored

In [ ]:
try:

    age=int(input("Enter the age?\n"))
    if age<18:
       raise ValueError;
    
except ValueError:
  print("The age is not valid")    
else:
         print("the age is valid")

Enter the age?
12
The age is not valid

In [ ]:
try:
    age=int(input("Enter the age?\n"))
    if age<18:
       raise ValueError;
finally:
  print("Hello")    
except ValueError:
  print("The age is not valid")    
else:
         print("the age is valid")

SyntaxError: ignored

In [ ]:
class MyError(Exception):
    pass

raise MyError("Example of user defined Exceptions in Python")

MyError: ignored

In [ ]:
# define Python user-defined exceptions
class MyError(Exception):
    "Raised when the input value is less than 18"
    pass
number = 18

try:
    input_num = int(input("Enter a number: "))
    if input_num < number:
        raise MyError
    else:
        print("Eligible to Vote")
        
except MyError:
    print("Exception occurred: Invalid Age")

Enter a number: 4
Exception occurred: Invalid Age

# **Week-4 Day-1**

# Modules and Packages

In [ ]:
from calc import add,sub
print(add(4,2))
print(sub(4,2))

6
2

In [ ]:
import random 
for i in range(0,10):
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
import random
a=[1,2,3,4,5,6,7,8,9,0]
random.shuffle(a)
print(a)

[8, 6, 4, 2, 1, 9, 3, 7, 0, 5]

In [ ]:
import random
a=[1,2,3,4,5,6,7,8,9,0]
random.shuffle(a)
print(a[:4])

[5, 4, 7, 6]

In [ ]:
import math
number=-2.34
print("the given number is:", number)
print("floor value is:",math.floor(number))
print("ceiling value is",math.ceil(number))
print("Absolute valu is:",math.fabs(number))

the given number is: -2.34
floor value is: -3
ceiling value is -2
Absolute valu is: 2.34

In [ ]:
import math
number=1e-4
print("the given number(x) is:",number)
print("e^x(using xpml() function) is:",math.exp(number)-1)
print("e^x(using expml() function) is:", math.expm1(number))
print("log(fabs(x),base) is:", math.log(math.fabs(number),10))

the given number(x) is: 0.0001
e^x(using xpml() function) is: 0.0001000050001667141
e^x(using expml() function) is: 0.00010000500016667084
log(fabs(x),base) is: -3.999999999999999

In [ ]:
import random
r1=random.randint(0,10)
print(r1)

6

In [ ]:
file = open("/content/Demofile.txt", "r")
data = file.read()
number_of_characters = len(data)
print('Number of characters in text file :', number_of_characters)

Number of characters in text file : 48

In [ ]:
file = open("/content/Demofile.txt", "r")
data = file.readlines()
number_of_lines = len(data)
print('Number of lines in text file :', number_of_lines)

Number of lines in text file : 6

In [ ]:
f=open("/content/Demofile.txt","r")
s=f.read()
count=0
for i in s.split(" "):
  count+=1
  
print(count)

6

# **Day-2**

# OOPs

In [ ]:
class demo1:
  def method1(self,a,b):
    c=a+b
    return c
obj1=demo1()
print(demo1.method1(obj1,10,20))

30

In [ ]:
class demo1:
  def method1(self,a,b):
    c=a+b
    return c
class demo2:
  def method2(self,a,b):
    c=a-b
    return c    
hai=demo1()
hai=demo2()
print(demo1.method1(hai,10,20))
print(demo2.method2(hai,10,20))

30
-10

In [ ]:
class Myclass:
  name="Soujanya"
obj=Myclass()
print(obj.name)

Soujanya

In [ ]:
class Python:
  def fun(self):
    print("Welcome to opps concept")
obj=Python()
obj.fun()

Welcome to opps concept

In [ ]:
class Test:
  x=10 #static variable
  def __init__(self):
    print("hello")
t=Test()
print(Test.x) #Test is the class object

hello
10

In [ ]:
#Predict the output
class Car:
    'Common_car'
    car=0
    def _init_(self,name,id1,car):
        self.name=name
        self.id=id
        Car.car+=1
        
    def printCardata(self):
        print("Name: ",self.name, "Id: ", self.id )
        
c=Car("AUDI",2000000)
c1=Car("BENZ",3000000)
c2=Car("BMW",1000000)
print("Total Cars: ",Car.car)
c.printCardata()
c1.printCardata()
c2.printCardata()

TypeError: ignored

In [ ]:
#Predict the output
class Car:
    'Common_car'
    car=0
    def __init__(self,name,id):
        self.name=name
        self.id=id
        Car.car+=1
        
    def printCardata(self):
        print("Name: ",self.name,"Id: ",self.id)
        
c=Car("AUDI",2000000)
c1=Car("BENZ",3000000)
c2=Car("BMW",1000000)
print("Total Cars: ",Car.car)
c.printCardata()
c1.printCardata()
c2.printCardata()

Total Cars:  3
Name:  AUDI Id:  2000000
Name:  BENZ Id:  3000000
Name:  BMW Id:  1000000

# Types of Variable

In [ ]:
class Car(object):
  wheels=4
  def __init__(self,make):
    self.make=make
newCar=Car("Honda")
print("My new car is a {}".format(newCar.make))
print("My car, like all car, has {} wheels".format(Car.wheels))

My new car is a Honda
My car, like all car, has 4 wheels

In [ ]:
class test:
  def __init__(self):
    self.variable='car' #instance variable
    self.change(self.variable)
  def change(self,var):
    self.var='bike'
obj=test()
print(obj.variable)
print(obj.var)

car
bike

# **Day-3**
# Operator overloading

In [ ]:
a=10
b=20
print(a.__add__(b))

30

In [ ]:
class A:
  def __init__(self,a):
    self.a=a
  # adding two objects
  def __add__(self,o):
    return self.a+o.a

ob1=A(1)
ob2=A(2)
ob3=A("RACE")
ob4=A("World")

print(ob1+ob2)
print(ob3+ob4)

3
RACEWorld

In [ ]:
ch=int(input())
a=int(input())
b=int(input())
if (ch==1):
  print(a.__add__(b))
elif (ch==2):
  print(a.__sub__(b))
elif(ch==3):
  print(a.__mul__(b))
elif(ch==4):
  print(a.__div__(b))
elif(ch==5):
  print(a.__mod__(b))
else:
  print("Enter valid choice")

1
10
100
110

In [9]:
a,b,c=[int(x)for x in input().split()]
dic={1:(a.__add__(b)),2:(a.__sub__(b)),3:(a.__mul__(b))}
print(dic[c])

5 6 2
-1

# Day-4 
# Inheritance

In [10]:
# with inheritance, single inheritance

class Car:
  def speed(self):
    print("100km")
class Audi(Car):
  def engine(self):
    print("Engin is powerful")    
c=Audi()
c.engine()
c.speed()

Engin is powerful
100km

In [12]:
# without inheritance

class Car:
  def speed(self):
    print("100km")
class Audi:
  def engine(self):
    print("Engin is powerful")    
c=Audi()
b=Car()
c.engine()
b.speed()

Engin is powerful
100km

In [14]:
# multi level inheritance

class Car:
  def speed(self):
    print("100kn/hr")

class Brand(Car) :
  def audi(self):
    print("its a high quality car")

class Color(Brand):
  def black(self):
    print("everyone loves black car")
c=Color()
c.audi()        
c.speed()
c.black()

its a high quality car
100kn/hr
everyone loves black car

In [15]:
# multiple inheritance

class Animal1(object):
  def __init__(self):
    self.str1="Dog"
    print("Animal1")
class Animal2(object):
  def __init__(self):
    self.str2="Cat"
    print("Animal2")
class Ani(Animal1,Animal2):
  def __init__(self):
    Animal1.__init__(self)
    Animal2.__init__(self)
    print("Ani")
  def printstr(self):
    print(self.str1,self.str2)
a=Ani()
a.printstr()

Animal1
Animal2
Ani
Dog Cat