# Day 1

In [ ]:
#99flag=4
#print(99flag)# error because of the number starting
#text=3#global=5
#print(global) # error because of the keyword used
#print(text)
an$wer=7
print(an$wer) # error because of the $

In [ ]:
from IPython.utils.text import num_ini_spaces
a=2 #variable value is given
b=2.2
c=23+8j
print(a) #printed the value of a
print(b) #print the value of b
print(a+ int(b)) # print the addition of a and b
x=int(float(a)-b) #print and value given to the new variable x
print(x) #print x
print (c)
print (type(a)) #type to find the datatype of a
print(type(c))#type to find the datatype of c 
print(type(b))#type to find the datatype of b 
print("soujanya")#printing the text vignesh
soujanya=a+int(b)
print(soujanya)#printing the text vignesh
d=input() #taking input from the user
e=int(input())
print(d)
print(e) 
print(int(d)+e)

2
2.2
4
0
(23+8j)
<class 'int'>
<class 'complex'>
<class 'float'>
soujanya
4
7
8
7
8
15

In [ ]:
t=float(input("value of t "))#taking value for variable
print(t)
print("%.3f"%t)#this command will make value after desimal only 3 numbers which also be as n

value of t 9
9.0
9.000

In [ ]:
x=int(input("value of x "))#taking value for variable
y=int(input("value of y "))#taking value for variable
z=int(input("value of z "))#taking value for variable
print((x+y+z)/3)

value of x 8
value of y 9
value of z 7
8.0

In [ ]:
a=int(input("value of a "))#taking value for variable
b=int(input("value of b "))#taking value for variable
print((a+b)/100)
if a > b: #conduction for a>b first statment is printed else second is printed
 print((b/a)*100)
else:
 print((a/b)*100)

value of a 10
value of b 20
0.3
50.0

In [ ]:
mystring= hello #giving values for variable
myfloat= 2.5 #giving values for variable
myint=10 #giving values for variable
print(mystring)#printing the variable
print(myfloat)#printing the variable
print(myint)#printing the variable


a=input("value of a")#taking value for variable
b=input("value of b")#taking value for variable
if a>b:#comparing value of a,b and check weather a is greater than b
 print(b%a)
else:
 print(a%b)

NameError: ignored

In [ ]:
a=int(input()) # taking input from the user
b=int(input()) # taking input from the user
print(a+b) # performing operation and printing
print(a-b) # performing operation and printing
print(a*b) # performing operation and printing
print(a/b) # performing operation and printing
print(a%b) # performing operation and printing

3
5
8
-2
15
0.6
3

In [ ]:
a=10 # initializing value
b=4 # initializing value
print(a&b)# performing operation and printing
print(a|b)# performing operation and printing
print(a^b)# performing operation and printing
print(a<<2)# performing operation and printing
print(a>>2)# performing operation and printing

0
14
14
40
2

# Day 2

In [ ]:
n=10
for i in range(1,n+1):
  if(i==6):
    break
  print(i,end="")

12345

In [ ]:
n=int(input("enter the value of n= "))
for i in range(1,n+1):
  if i==6:
    break
  print(i*5)

enter the value of n= 4
5
10
15
20

In [ ]:
n=int(input("enter the value of n= "))
for i in range(1,n+1):
  print(i*5)

enter the value of n= 20
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [ ]:
n=int(input("enter the value of n= "))
for i in range(1,n+1):
  i*=5
  if i%2==0:
    print(i)

enter the value of n= 10
10
20
30
40
50

In [ ]:
n=int(input("enter the value of n= "))
for i in range(1,n+1):
  if i%2==0:
    print(i)

enter the value of n= 10
2
4
6
8
10

In [ ]:
n=int(input("enter the value of n= "))
for i in range(1,n+1):
  if i%2!=0:
    print(i)

enter the value of n= 10
1
3
5
7
9

In [ ]:
a=98
print(a>>2)

24

In [ ]:
n=int(input("enter the value of n= "))
for i in range(1,n+1):
  i*=5
  if i%2!=0:
    print(i)

enter the value of n= 10
5
15
25
35
45

In [ ]:
x=int(input("value of x "))#taking value for variable
y=int(input("value of y "))#taking value for variable
z=int(input("value of z "))#taking value for variable
print((x+y+z)//3)

value of x 7
value of y 8
value of z 9
8

In [ ]:
x=int(input("value of x "))#taking value for variable
y=int(input("value of y "))#taking value for variable
print(x+y,'\n',x-y)

value of x 5
value of y 6
11
 -1

In [ ]:
a=int(input("value of a "))#taking value for variable
b=int(input("value of b "))#taking value for variable
x=a
y=b
b=a
a=y
print(a)
print(b)2

value of a 7
value of b 4
4
7

# **Day3** **String**

In [ ]:
a="RACE"
print(a[1])

A

In [ ]:
a="helloworld"
for i in range(len(a)):
  if i%2==0:
    print(a[i])

h
l
o
o
l

In [ ]:
a=input()
odd=""
even=""
for i in range(0,len(a)):
  if(i%2==0):
    even=even+a[i]
  else:
    odd=odd+a[i]
print("Even index char.:",even)
print("Odd index char.",odd)

RACE
Even index char.: RC
Odd index char. AE

In [ ]:
a="Soujanya"
print(a[-1])

a

In [ ]:
a="hello world"
print(a[:2])

he

In [ ]:
a=input()
print(a[0:len(a):2])
print(a[1:len(a):2])

soujanya
suay
ojna

In [ ]:
a="soujanya"
print(a[2:])

ujanya

In [ ]:
a="hello world"
print(a[:-2])

hello wor

In [ ]:
a="hello world"
print(a[-2:])

ld

In [ ]:
a="hello world"
print(a[1:-3])

ello wo

In [ ]:
a="hello world"
for i in range(len(a)-1,-1,-1):
    print(a[i],end="")

dlrow olleh

In [ ]:
str1=input()
print(str1[::-1])

soujanya
aynajuos

In [ ]:
str="hello world"
print(str[::-2])
print(str[::2])
print(str[2::])
print(str[-2::])
print(str[::-4])
print(str[0:11:2])

drwolh
hlowrd
llo world
ld
dwl
hlowrd